block init

<?php header('Content-type: text/html;charset=utf-8'); ?>
doctype html
html(class='no-js', lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title #{title}
        meta(name='description', content="The Archives (by Biast12)")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', href!='<?= $public_href; ?>images/favicon/archive_logo.png')
        link(rel='apple-touch-icon-precomposed', type='image/png', href!='<?= $public_href; ?>images/favicon/archive_logo.png')
        link(rel='stylesheet', href!='<?= $public_href; ?>css/styles.css')
        link(rel='stylesheet', href!='<?= $public_href; ?>css/style_dark.css')

        // Goggle
        meta(name="type" content="website")
        meta(name="title" content="The Archives")
        meta(name="url" content="https://biast12.site/")
        meta(name="author" content="Biast12")
        meta(name="description" content="The Archives is a fan-run repository made by Biast12 with over 600+ GB of files and media from Respawn's games.&#x0A;&#x0A;join my Patreon: http://patreon.com/Biast12&#x0A;Support server: https://discord.gg/ERFffj9Qs7")
        meta(name="keywords" content="Archive, Archives, Apex,Apex Legends, Legends, Respawn, Biast12, Models, Assets")
        meta(name="image" content="https://biast12.site/_h5ai/public/images/favicon/archive_logo.png")
        meta(name="theme-color" content="#FF0000")

        // Open Graph / Facebook
        meta(property="og:type" content="website")
        meta(property="og:title" content="The Archives")
        meta(property="og:url" content="https://biast12.site/")
        meta(property="og:description" content="The Archives is a fan-run repository made by Biast12 with over 600+ GB of files and media from Respawn's games.&#x0A;&#x0A;join my Patreon: http://patreon.com/Biast12&#x0A;Support server: https://discord.gg/ERFffj9Qs7")
        meta(property="og:image" content="https://biast12.site/_h5ai/public/images/favicon/archive_logo.png")

        // Twitter
        meta(property="twitter:card" content="summary")
        meta(property="twitter:title" content="The Archives")
        meta(property="twitter:url" content="https://biast12.site/")
        meta(property="twitter:description" content="The Archives is a fan-run repository made by Biast12 with over 600+ GB of files and media from Respawn's games.&#x0A;&#x0A;join my Patreon: http://patreon.com/Biast12&#x0A;Support server: https://discord.gg/ERFffj9Qs7")
        meta(property="twitter:image" content="https://biast12.site/_h5ai/public/images/favicon/archive_logo.png")

        // Google tag (gtag.js)
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-4VE76F7L1J")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
                }
            gtag('js', new Date());
            gtag('config', 'G-4VE76F7L1J');

        <?php if (!$fallback_mode) { ?>
        script(src!='<?= $public_href; ?>js/scripts.js', data-module=module)
        <?php } ?>
        <?= $x_head_tags; ?>

    body#root(class=module)

        div#fallback-hints
            <?php if (!$fallback_mode) { ?>
            span.noJsMsg You're not supposed to see this
            span.noBrowserMsg Works best in #[a(href='http://browsehappy.com') modern browsers]!
            <?php } ?>
            span.backlink #[a(href="https://www.patreon.com/Biast12", target="_blank", title=`Join my Patreon - using h5ai v${pkg.version}`) Join my Patreon]

        block body
